<html>

<p id="p1"><p>
<form method='POST'>

  <input id="b1" type="submit" name="click" value="Confirm">

</form>

<script>
var _IDS = [];
var _NAMES = [];
var _NUMBERS = [];

{% for id in ids %}
_IDS.push("{{id}}");
{% endfor %}

{% for n in names %}
_NAMES.push("{{n}}");
{% endfor %}

{% for number in numbers%}
_NUMBERS.push("{{number}}");
{% endfor %}

var _Items = []
{% for item in orderItems %}
_Items.push("{{item}}");
{% endfor %}

var _Amounts = [];
{% for amount in orderAmounts %}
_Amounts.push("{{amount}}");
{% endfor %}

var orderString = 'Order for: {{ building }} <br> Ordered by: {{ person }}<br>Items in Cart:<br>';
var counter = 0;
var counter2 = 0;
for(counter=0;counter<_Items.length;counter++)
{
  for(counter2=0;counter2<_IDS.length;counter2++)
  {
    if (_IDS[counter2] == _Items[counter]) orderString += _NAMES[counter2] + " " + _Amounts[counter] + '<br>';
  }
}
document.getElementById("p1").innerHTML = orderString;
</script>

</html>
